# ignore everything
*

# JUST PROYECT
!Crossy.uproject
# example
!Content/
!Content/**/
!Content/Characters/
!Content/Characters/**/
!Content/Characters/Chicken/
!Content/Characters/Chicken/**/
!Content/Characters/Chicken/Animations/
!Content/Characters/Chicken/Animations/**/
!Content/Characters/Chicken/Animations/
!Content/Characters/Chicken/Animations/animation_walking.uasset
!Content/Characters/Chicken/Animations/chicken_idle_PhysicsAsset.uasset
!Content/Characters/Chicken/Animations/chicken_idle.uasset
!Content/Characters/Chicken/Animations/chicken_PhysicsAsset.uasset
!Content/Characters/Chicken/Animations/chicken.uasset
!Content/Characters/Chicken/Animations/Cube_001_Anim.uasset
!Content/Characters/Chicken/Animations/Cube_001_Skeleton.uasset
!Content/Characters/Chicken/Animations/Cube_001.uasset
!Content/Characters/Chicken/Animations/FbxScene_animation_walking.uasset
!Content/Characters/Chicken/Animations/Material_001.uasset
!Content/Characters/Chicken/Animations/Material_002.uasset
!Content/Characters/Chicken/Animations/pollo.uasset

!Content/ThirdPerson/
!Content/ThirdPerson/**/
!Content/ThirdPerson/StarterContent/
!Content/ThirdPerson/StarterContent/**/
!Content/ThirdPerson/StarterContent/Architecture/
!Content/ThirdPerson/StarterContent/Architecture/**/
!Content/ThirdPerson/StarterContent/Architecture/Floor_400x400.uasset
!Content/ThirdPerson/StarterContent/Architecture/Pillar_50x500.uasset
!Content/ThirdPerson/StarterContent/Architecture/SM_AssetPlatform.uasset
!Content/ThirdPerson/StarterContent/Architecture/Wall_400x200.uasset
!Content/ThirdPerson/StarterContent/Architecture/Wall_400x300.uasset
!Content/ThirdPerson/StarterContent/Architecture/Wall_400x400.uasset
!Content/ThirdPerson/StarterContent/Architecture/Wall_500x500.uasset
!Content/ThirdPerson/StarterContent/Architecture/Wall_Door_400x300.uasset
!Content/ThirdPerson/StarterContent/Architecture/Wall_Door_400x400.uasset
!Content/ThirdPerson/StarterContent/Architecture/Wall_Window_400x300.uasset
!Content/ThirdPerson/StarterContent/Architecture/Wall_Window_400x400.uasset

!Content/ThirdPerson/Maps/
!Content/ThirdPerson/Maps/**/
!Content/ThirdPerson/Maps/FirstMap.umap

!Content/ThirdPerson/Input/
!Content/ThirdPerson/Input/**/
!Content/ThirdPerson/Input/IM_ChickenCC.uasset
!Content/ThirdPerson/Input/Actions/
!Content/ThirdPerson/Input/Actions/**/
!Content/ThirdPerson/Input/Actions/IA_LookUpCC.uasset
!Content/ThirdPerson/Input/Actions/IA_MoveForwardCC.uasset
!Content/ThirdPerson/Input/Actions/IA_MoveRightCC.uasset
!Content/ThirdPerson/Input/Actions/IA_TurnCC.uasset

!Content/ThirdPerson/Blueprints/
!Content/ThirdPerson/Blueprints/**/
!Content/ThirdPerson/Blueprints/ABP_ChickenCC.uasset
!Content/ThirdPerson/Blueprints/BP_ChickenCC.uasset
!Content/ThirdPerson/Blueprints/BP_ThirdPersonGameMode.uasset
!Content/ThirdPerson/Blueprints/GM_ChickenCC.uasset
!Content/ThirdPerson/Blueprints/PC_ChickenCC.uasset

!Content/ThirdPerson/Animations/
!Content/ThirdPerson/Animations/**/
!Content/ThirdPerson/Animations/BS1D_IdleRun.uasset

# example
!Content/Example/
!Content/Example/**/
!Content/Example/chiken.png
!Content/Example/chiken_00.png

# --
!.gitignore
!README.md
